@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Css */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.primary-button {
    background-image: linear-gradient(90deg, #FF5959, #FF5959);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    font-weight: 500;
    font-size: 18px;
}

.heading-title {
font-weight: 700;
font-size: 45px;
color: #121212;
text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
}


.heading-paragraph{
    color: #707070;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}
/* Header Part css */

#header-part {
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: overlay;
    padding: 175px 316px;
    color: #fff;
    text-align: center;

}

.header-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}
.header-content p {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

/* Donate Today css */

#donate-today{
    text-align: center;
    padding: 130px 349px;
}

.donate-amount {
    display: flex;
    justify-content: center;
}
#donate-today .donate-amount p{
    padding: 20px;
}
#donate-today .donate-amount .second-amount{
    border: 2px solid #FF5959;
    background: #FFEEEE;
}
#donate-today input{
    border: 2px solid #e1e1e1;
    margin: 20px 0;
    padding: 5px 10px;
}

/* Our Donate Plan css */

#our-donate-plan>p{
    padding: 20px 316px;
}

/* Food Shelter Education css */

#food-shelter-education{
    display: flex;
}
#food-shelter-education h3{
    font-weight: 500;
    font-size: 24px;
    color: #121212;
}
#food-shelter-education p{
font-weight: 400;
font-size: 16px;
color: #707070;
}
#food-shelter-education .food,
#food-shelter-education .shelter,
#food-shelter-education, .education{
padding: 40px;
margin-right: 20px;
}
#food-shelter-education .food {
    background: #EDF5F6;
    border-radius: 5px;
}
#food-shelter-education .shelter {
    background: #FFEEEE;
    border-radius: 5px;
}
#food-shelter-education .education {
    background: #FFF4D6;
    border-radius: 5px;
    margin-right: 0;
}

/* School and Doctor css */

#school, #doctor {
    display: flex;
    padding: 50px;
    justify-content: center;
    margin: 0 auto;
}

.school-right img,
.doctor-left img {
    width: 100%;
}

.school-left,
.doctor-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}
.school-left p{
    margin: 10px 0;
}

.doctor-left {
    margin-right: 20px;
}

/* Get Update css */

#get-update {
    padding: 50px 300px;
}

.subscribe {
    background-color: #FFF4D6;
    padding: 76px 188px;
}
.subscribe input {
    padding: 10px 15px;

}

/* Footer css */

#footer {
    background-color: #0B0D17;
    padding: 50px 316px;
    color: #fff;
    text-align: center;
}

